.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	width: var(--sidebar-width);
	height: 100vh;

	display: grid;
	grid-template-rows: 5rem auto calc(var(--sidebar-logo-height) + 32px);
	overflow: hidden auto;

	background-color: #347FC4;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);

	color: #FFF;
}

.sidebar footer{
	padding: 16px 0;
	text-align: center;
}

.sidebar footer img{
	height: var(--sidebar-logo-height);
	width: auto;
}

.sidebar__nav{
	display: block;
	width: 100%;

	padding: 0;
	list-style-type: none;
}

.sidebar__nav li{
	display: block;
}

.sidebar__nav .nav__link{
	display: block;
	cursor: pointer;
	text-decoration: none;
	width: 100%;
	color: #FFF;
	overflow: hidden;
	padding: 4px 0;
	margin: 0;
	background-color: transparent;
	transition: background-color 0.25s;
}

.sidebar__nav .nav__link:hover{
	background-color: rgba(255, 255, 255, 0.25);
}

.sidebar__nav .nav__link--active{
	background-color: transparent;
}

.sidebar__nav .nav__link--active .nav__icon{
	color: #FFF;
}

.sidebar__nav .nav__link--active .nav__label{
	font-weight: bold;
}

.sidebar__nav .nav__icon{
	text-align: center;
	width: 48px;
	line-height: 48px;
	color: #CCC;
}

.sidebar__nav .nav__label{
	font-weight: normal;
	line-height: 48px;
}

.sidebar__nav .nav__label-badge{
	color: #FFF;
	font-weight: bold;
	background-color: #C62828;
	padding: 6px 8px 2px 8px;
	border-radius: 1rem;
	margin: 0 0.25rem;
}

.sidebar .separator{
	width: 100%;
	padding: 0;
	margin: 4px 0;
	border-bottom: 1px solid #CCC;
}